@media screen and (max-width: 992px) {
    /*...............Start Patient Details...............*/
    .flex-container {
      flex-direction: column;
      padding: 10px 0;
    }
  
    .flex-item{
      padding: 0px;
    }
    /*...............End Patient Details...............*/
}